In [33]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)
mouse_metadata
study_results

merged_data=pd.merge(mouse_metadata, study_results, how="left", on=["Mouse ID","Mouse ID"])
merged_data.head()

organized_merged_data=merged_data[["Mouse ID", "Timepoint", "Drug Regimen", "Sex", "Age_months", "Weight (g)", "Tumor Volume (mm3)", "Metastatic Sites"]]
organized_merged_data

,Mouse ID,Timepoint,Drug Regimen,Sex,Age_months,Weight (g),Tumor Volume (mm3),Metastatic Sites
0,k403,0,Ramicane,Male,21,16,45.000000,0
1,k403,5,Ramicane,Male,21,16,38.825898,0
2,k403,10,Ramicane,Male,21,16,35.014271,1
3,k403,15,Ramicane,Male,21,16,34.223992,1
4,k403,20,Ramicane,Male,21,16,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,25,Naftisol,Male,9,30,63.145652,2
1889,z969,30,Naftisol,Male,9,30,65.841013,3
1890,z969,35,Naftisol,Male,9,30,69.176246,4
1891,z969,40,Naftisol,Male,9,30,70.314904,4
1892,z969,45,Naftisol,Male,9,30,73.867845,4

In [2]:
# Checking the number of mice.
unique_mice=organized_merged_data['Mouse ID'].unique()
unique_mice
len(unique_mice)

249

In [3]:
print(organized_merged_data.duplicated())
#new_df=organized_merged_data.drop_duplicates(inplace=True)
#new_df.head()

0       False
1       False
2       False
3       False
4       False
        ...
1888    False
1889    False
1890    False
1891    False
1892    False
Length: 1893, dtype: bool

In [40]:
duplicates_gone=organized_merged_data.drop_duplicates(subset=['Mouse ID','Timepoint'])
len(duplicates_gone['Mouse ID'].unique())
duplicates_gone

,Mouse ID,Timepoint,Drug Regimen,Sex,Age_months,Weight (g),Tumor Volume (mm3),Metastatic Sites
0,k403,0,Ramicane,Male,21,16,45.000000,0
1,k403,5,Ramicane,Male,21,16,38.825898,0
2,k403,10,Ramicane,Male,21,16,35.014271,1
3,k403,15,Ramicane,Male,21,16,34.223992,1
4,k403,20,Ramicane,Male,21,16,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,25,Naftisol,Male,9,30,63.145652,2
1889,z969,30,Naftisol,Male,9,30,65.841013,3
1890,z969,35,Naftisol,Male,9,30,69.176246,4
1891,z969,40,Naftisol,Male,9,30,70.314904,4
1892,z969,45,Naftisol,Male,9,30,73.867845,4

In [76]:
#mean of Drug regimen and tumor volume
mean_tum_drug=duplicates_gone.set_index('Drug Regimen')['Tumor Volume (mm3)']
mean_tum_drug_grouped=mean_tum_drug.groupby('Drug Regimen')
mean_tum_drug_grouped.mean()

#median of Drug regimen and tumor volume
median_tum_drug=mean_tum_drug_grouped.median()
median_tum_drug
#Calculate the variance
var_tum_drug=mean_tum_drug_grouped.var()
var_tum_drug
#std dev by drug
std_tum_drug=mean_tum_drug_grouped.std()
std_tum_drug
#sem by drug
sem_tum_drug=mean_tum_drug_grouped.sem()
sem_tum_drug

#create a summary DataFrame
summary_df=pd.DataFrame({
    "Mean Tumor Volume (mm3)": mean_tum_drug_grouped.mean(),
    "Median Tumor Volume (mm3)": median_tum_drug,
    "Variance Tumor Volume (mm3)": var_tum_drug,
    "Standard Deviation Total Volume (mm3)": std_tum_drug,
    "Standard Error of the Mean Total Volume (mm3)": sem_tum_drug
})

summary_df

,Mean Tumor Volume (mm3),Median Tumor Volume (mm3),Variance Tumor Volume (mm3),Standard Deviation Total Volume (mm3),Standard Error of the Mean Total Volume (mm3)
Drug Regimen,,,,,
Capomulin,40.675741,41.557809,24.947764,4.994774,0.329346
Ceftamin,52.591172,51.776157,39.290177,6.268188,0.469821
Infubinol,52.884795,51.820584,43.128684,6.567243,0.492236
Ketapril,55.235638,53.698743,68.553577,8.279709,0.603860
Naftisol,54.331565,52.509285,66.173479,8.134708,0.596466
Placebo,54.033581,52.288934,61.168083,7.821003,0.581331
Propriva,52.393463,50.909965,43.138803,6.568014,0.525862
Ramicane,40.216745,40.673236,23.486704,4.846308,0.320955
Stelasyn,54.233149,52.431737,59.450562,7.710419,0.573111
Zoniferol,53.236507,51.818479,48.533355,6.966589,0.516398

Drug Regimen
Capomulin    4.994774
Ceftamin     6.268188
Infubinol    6.567243
Ketapril     8.279709
Naftisol     8.134708
Placebo      7.821003
Propriva     6.568014
Ramicane     4.846308
Stelasyn     7.710419
Zoniferol    6.966589
Name: Tumor Volume (mm3), dtype: float64

Drug Regimen
Capomulin    0.329346
Ceftamin     0.469821
Infubinol    0.492236
Ketapril     0.603860
Naftisol     0.596466
Placebo      0.581331
Propriva     0.525862
Ramicane     0.320955
Stelasyn     0.573111
Zoniferol    0.516398
Name: Tumor Volume (mm3), dtype: float64